html {
  font-family: 'Noto Sans', sans-serif;
}

body {
  margin: 0;
}

#header {
  height: 6em;
}

a {
  text-decoration: none;
  color: #FFF;
}

#menu {
  background: #42A5F5;
  width: auto;
  height: 6em;
  line-height: 6em;
  cursor: default;
  position: relative;
}

#l_menu {
  width: 20%;
  height: 3em;
  float: left;
  margin-right: 2em;
  color: #FFF;
  font-size: 2em;
  vertical-align: middle;
  position: relative;
  text-align: center;
}

.logo {
  margin: auto;
}

#c_menu {
  width: auto;
  height: 6em;
  word-spacing: .3em;
  float: left;
  text-align: center;
  vertical-align: middle;
  position: relative;
}

#r_menu {
  font-size: 24px;
  color: #FFF;
  width: auto;
  height: 6em;
  float: right;
  padding-right: 2em;
  text-align: center;
  vertical-align: middle;
  position: relative;
}

#pcont {
  background: white;
  height: 851%;
  width: auto;
}

.mbtn {
  text-align: center;
  vertical-align: middle;
  color: #FFF;
  float: left;
  font-size: 20px;
  position: relative;
  padding-left: 1.3em;
  padding-right: 1.3em;
  -webkit-transition: background .25s linear;
  -moz-transition: background .25s linear;
  -ms-transition: background .25s linear;
  -o-transition: background .25s linear;
  transition: background .25s linear;
}

#c_btn_icn {
  text-align: center;
  vertical-align: middle;
}

.mbtn:hover {
  background: #1976D2;
  -webkit-transition: background .25s linear;
  -moz-transition: background .25s linear;
  -ms-transition: background .25s linear;
  -o-transition: background .25s linear;
  transition: background .25s linear;
}

.active_mbtn {
  background: #1976D2;
}

#biglgo {
  text-align: center;
  vertical-align: middle;
  font-size: 40px;
}

.r_icn {
  margin-left: 5px;
}

.r_icn:hover {
  color: #E1F5FE;
}

#pcont {
  background: #E3F2FD;
}

#left_clm {
  height: 80%;
  width: 35%;
  background: #FFF;
  margin-left: 8.3%;
  float: left;
  top: 10%;
  position: relative;
}

#top_right_clm {
  height: 37%;
  width: 35%;
  background: #FFF;
  margin-right: auto;
  float: left;
  top: 10%;
  left: 10%;
  position: relative;
}

#bottom_right_clm {
  height: 37%;
  width: 35%;
  background: #FFF;
  margin-right: auto;
  float: left;
  top: 16%;
  left: 10%;
  position: relative;
}

.block_dec {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.block_dec:hover {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

#footer {
  background: #0D47A1;
  width: auto;
  color: #FFF;
  height: 3em;
  line-height: 3em;
  margin: auto;
  text-align: center;
  vertical-align: middle;
  cursor: default;
}